<template>
  <card title="Administration" sub-title="General Admin tasks">
      <card>
        <div class="row">

        </div>
      </card>
  </card>
</template>

<script>
export default {
  data() {
    return {};
  }
};
</script>

<style scoped>
</style>
