<template>
  <div class="row">
    <div class="col-md-12">
      <card>
        <div class="col-12">
          <chart-card title="Events in database"
                      sub-title="All Events that are stored in PostGres"
                      :chart-data="getBoth"
                      :chart-options="activityChart.options">
          <span slot="footer">
            <i class="ti-check"></i> Last 3 weeks
          </span>
            <div slot="legend">
              <i class="fa fa-circle text-info"></i> IIB Events
              <i class="fa fa-circle text-warning"></i> SFTP Events
            </div>
          </chart-card>
        </div>

      </card>
    </div>
  </div>
</template>
<script>
import { ChartCard } from "@/components/index";
import { ftp_events } from "../api/ftp_events";
import moment from "moment";
import { iib_data } from "../api/iib_data";

function getLabels(in_data) {
  let arr = [],
    i;
  for (i = 0; i < in_data.length; i++) {
    arr.push(moment(in_data[i].timeperiod).format("MM/DD"));
  }
  return arr;
}

function getSingleSeries(in_data) {
  let arr = [],
    i;
  for (i = 0; i < in_data.length; i++) {
    arr.push(in_data[i].num);
  }
  return arr;
}

function getSeries(in_data, second = null) {
  let holder = [];
  holder.push(getSingleSeries(in_data));
  if (second !== null) {
    holder.push(getSingleSeries(second));
  }
  return holder;
}

export default {
  components: {
    ChartCard
  },
  data() {
    return {
      activityChart: {
        options: {
          seriesBarDistance: 10,
          axisX: {
            showGrid: false
          },
          axisY: {
            onlyInteger: true,
            labelInterpolationFnc: function(value, index) {
              let sRet = "";
              if (value > 1000) {
                sRet = value / 1000 + "k";
              } else {
                sRet = value;
              }
              return sRet;
            },
            stretch: true
          },
          height: "250px"
        }
      }
    };
  },
  computed: {
    getBoth() {
      return {
        labels: getLabels(iib_data),
        series: getSeries(iib_data, ftp_events)
      };
    }
  }
};
</script>

<style>
</style>
