<template>
  <card title="Overview" sub-title="An overview of the system">
      <card>
        <div class="row">
                <fluid-svg
                v-for="item in statusData"
                v-bind:key="item.name"
                v-bind:image-label="item.name"
                v-bind:status="item.status"
                class="i1-svg-image"></fluid-svg>
          </div>
      </card>
  </card>
</template>

<script>
import FluidSvg from "@/components/FluidSvg";

export default {
  data() {
    return {
      statusData: [
        {
          name: "Postgres",
          status: "ok"
        },
        {
          name: "Kafka",
          status: "warning"
        },
        {
          name: "Web Server",
          status: "error"
        },
        {
          name: "Rules",
          status: "ok"
        }
      ]
    };
  },
  components: {
    FluidSvg
  }
};
</script>

<style scoped>
.i1-svg-image {
  width: 180px;
}
</style>
