<template>
  <div class="row">
    <div class="col-12">
      <card :title="table1.title" :subTitle="table1.subTitle">
        <div slot="raw-content" class="table-responsive">
          <vue-good-table
            :columns="columns"
            :rows="rows"
            :search-options="{
              enabled: true,
              trigger: 'enter',
              placeholder: 'Search this table',
          }"
          :pagination-options="{enabled: true}"
          />
        </div>
      </card>
    </div>
  </div>

</template>

<script>
import { ftp_data } from "../api/ftp_data";
import VueGoodTablePlugin from "vue-good-table";

export default {
  components: {
    VueGoodTablePlugin
  },
  data() {
    return {
      table1: {
        title: "Shipment integration tracking",
        subTitle: "Files that are in process"
      },
      columns: [
        {
          label: "Date",
          field: "datetime_collected",
          type: "date",
          dateInputFormat: "YYYY-MM-DD",
          dateOutputFormat: "MMM Do YY"
        },
        {
          label: "File",
          field: "filename"
        },
        {
          label: "Shipment",
          field: "shipmentnumber",
          type: "number"
        },
        {
          label: "Quantity",
          field: "shippedquantity",
          type: "decimal"
        },
        {
          label: "LogicalId",
          field: "logicalid"
        },
        {
          label: "FtpUser",
          field: "ftpuser"
        },
        {
          label: "Downloaded",
          field: "downloaded"
        }
      ],
      rows: ftp_data
    };
  }
};
</script>

<style>
</style>
