<template>
  <div>

    <svg :viewBox="viewBoxString">

      <rect
        class="block"
        :x="rect.x"
        :y="rect.y"
        :width="rect.width"
        :height="rect.height"
        rx="15"
        ry="15"
      ></rect>

      <text
        :x="xPosition"
        :y="rect.y + 100"
        class="block-label"
      >{{imageLabel}}</text>

      <circle
        v-bind:class="classObject"
        :cx="rect.x + rect.width"
        :cy="rect.y"
        :r="rect.x/3"
        ></circle>

    </svg>

  </div>
</template>

<script>
export default {
  name: "FluidSvg",
  data() {
    return {
      svg: {
        width: 435,
        height: 280
      },
      rect: {
        x: 100,
        y: 100,
        width: 300,
        height: 180
      }
    };
  },
  props: {
    imageLabel: String,
    status: String
  },
  computed: {
    viewBoxString() {
      return `0 0 ${this.svg.width} ${this.svg.height}`;
    },
    classObject() {
      if (this.status === "ok") {
        return "status-green";
      } else if (this.status === "warning") {
        return "status-orange";
      } else {
        return "status-red";
      }
    },
    xPosition() {
      let middle = this.rect.width / 2;
      //20px is the width of the font
      let textWidth = this.imageLabel.length * 20 / 2;
      let xPos = middle - textWidth + this.rect.x;
      return xPos;
    }
  }
};
</script>

<style>
.block {
  fill: rgb(43, 189, 226);
}
.status-green {
  fill: rgba(36, 167, 47, 0.562);
}
.status-orange {
  fill: rgba(250, 176, 17, 0.733);
}
.status-red {
  fill: rgba(233, 8, 45, 0.561);
}

/* Note that the color of the text is set with the    *
* fill property, the color property is for HTML only */
.block-label {
  font: italic 40px serif;
  color: black;
  align-content: center;
}
</style>
