<div class="page-wrap height-100 default-bg">
  <div class="app-error">
    <div class="fix">
      <mat-icon class="error-icon" color="warn">warning</mat-icon>
      <div class="error-text">
        <h1 class="error-title">500</h1>
        <div class="error-subtitle">Server Error!</div>
      </div>
    </div>

    <div class="error-actions">
      <button
        mat-raised-button
        color="primary"
        class="mb-1"
        [routerLink]="['/dashboard']">Back to Dashboard
      </button>
      <button
        mat-raised-button
        color="warn">Report this Problem
      </button>
    </div>
  </div>
</div>
