<template>
  <footer class="footer">
    <div class="container-fluid d-flex flex-wrap justify-content-between">
      <nav>
        <ul>
          <li>
            <router-link :to="{path:'/admin'}">Dashboard</router-link>
          </li>
        </ul>
      </nav>
      <div class="copyright d-flex flex-wrap">
        &copy; Made with passion by
        <a href="http://www.i1solutions.co.za" target="_blank">&nbsp; i1Solutions</a>
      </div>
    </div>
  </footer>
</template>

<script>
export default {};
</script>

<style>
</style>
