<template>
  <div class="wrapper">
    <side-bar>

      <template slot="links">
        <sidebar-link to="/dashboard" name="Dashboard" icon="ti-panel"/>
        <sidebar-link to="/tracking" name="Tracking" icon="ti-stats-up"/>
        <sidebar-link to="/events" name="Events" icon="ti-bookmark-alt"/>
        <sidebar-link to="/overview" name="Overview" icon="ti-bell"/>
        <sidebar-link to="/admin" name="System Administration" icon="ti-panel"/>
        <sidebar-link to="/stats" name="User Administration" icon="ti-user"/>
      </template>

      <mobile-menu>


        <drop-down class="nav-item"
                   title="5 Notifications"
                   title-classes="nav-link"
                   icon="ti-bell">
          <a class="dropdown-item">Notification 1</a>
          <a class="dropdown-item">Notification 2</a>
          <a class="dropdown-item">Notification 3</a>
          <a class="dropdown-item">Notification 4</a>
          <a class="dropdown-item">Another notification</a>
        </drop-down>

        <li class="nav-item">
          <a class="nav-link">
            <i class="ti-settings"></i>
            <p>Settings</p>
          </a>
        </li>
        <li class="divider"></li>

      </mobile-menu>

    </side-bar>

    <div class="main-panel">

      <top-navbar></top-navbar>

      <dashboard-content @click.native="toggleSidebar"></dashboard-content>

      <content-footer></content-footer>

    </div>

  </div>
</template>

<style lang="scss">
</style>

<script>
import TopNavbar from "./TopNavbar.vue";
import ContentFooter from "./ContentFooter.vue";
import DashboardContent from "./Content.vue";
import MobileMenu from "./MobileMenu";
export default {
  components: {
    TopNavbar,
    ContentFooter,
    DashboardContent,
    MobileMenu
  },
  methods: {
    toggleSidebar() {
      if (this.$sidebar.showSidebar) {
        this.$sidebar.displaySidebar(false);
      }
    }
  }
};
</script>
